@mixin stroke {
    color: white;
    //Stack Overflow
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;

}

@mixin gradient {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

@mixin arrow {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 20px;
    padding-bottom: 30px;
}